{{#if @blog.logo}}
<div class="logo">
    <a class="blog-logo" href="{{@blog.url}}">
        <img class="blog-logo-image" src="{{@blog.logo}}" alt="Blog Logo" />
    </a>
</div>
{{/if}}


<h1>{{@blog.title}}</h1>

<hr>

<ul class="list-unstyled menu">
    {{#if @blog.twitter}}
    <li>
        <a href="{{twitter_url}}" target="_blank">
            <i class="el el-twitter"></i> Twitter
        </a>
    </li>
    {{/if}}

    <li>
        <a href="https://github.com/arvindamirtaa" target="_blank">
            <i class="el el-github"></i> GitHub
        </a>
    </li>

    <li>
        <a href="https://instagram.com/arvindamirtaa" target="_blank">
            <i class="el el-instagram"></i> Instagram
        </a>
    </li>

    <li>
        <a href="mailto:contact@arvind.xyz" target="_blank">
            <i class="el el-envelope"></i> Email
        </a>

    </li>
</ul>
